<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>card-swiper-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">card-swiper-page</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
