<ion-content>
  <div id="swiper">
    <div class="swiper-container" #swiperContainer>

  <img src="assets/images/hiccup_home.jpg" alt="Hiccup Logo" class="logo"/>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="card" style="--i:0">
            <img src="assets/images/test1.png" alt="">
            <h2 class="header">Send a Hiccup</h2>
            <p class="small-header">Remind a friend or loved one of a memory you both cherish</p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card" style="--i:1">
            <img src="assets/images/test1.png" alt="">
            <h2 class="header">Create a real bond</h2>
            <p class="small-header">Strengthen a genuine connection that’s about us (not just about you)</p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card" style="--i:2">
            <img src="assets/images/images.jpeg" alt="">
            <h2 class="header">Bye Bye Vanity!</h2>
            <p class="small-header">Point social media at others (not only at ourselves)</p>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-pagination" #swiperPagination></div>
  </div>

  <button expand="block" shape="square" *ngIf="this.swiper?.activeIndex  !==2" class="swiper-button next-button" (click)="goToNextSlide()">Next</button>
  <button expand="block" shape="square" *ngIf="this.swiper?.activeIndex ===2" class="swiper-button next-button" (click)="goToNextSlide()">Get Started</button>

  <button expand="block" shape="square" *ngIf="this.swiper?.activeIndex  !==2" color="primary" class="swiper-button skip-button" (click)="navigateToLogin()">Skip</button>
</ion-content>