/* swiper.css */
#swiper {
  height: 70vh;
  perspective: 1000px;
  perspective-origin: center 50%;
  transform-style: preserve-3d;
  position: relative;
}
.logo {
  margin-top: 94px;
  width: 150px;
  height: 32.155px;
  flex-shrink: 0;
}
.swiper-container {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  padding: 20px;
  display: flex;
  padding: var(--gap-and-padding-positive-gap-padding-0, 0px);

  flex-direction: column;
  align-items: center;
  gap: 28px;
}


ion-content {
  --background: linear-gradient(180deg, #FFD25A 0%, #FFD25A 100%);
  background: var(--background, linear-gradient(180deg, #FFD25A 0%, #FFD25A 100%));
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card img {
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
}

.card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  color: #555;
}

/* Apply positioning to the buttons */
.swiper-button {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.next-button {
  margin-bottom: 50px;
  display: flex;
  width: 160px;
  height: 54px;
  padding: 0.5px 41.5px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--white, #FFF);
}

.skip-button {
  background-color: transparent;
}

/* Adjust pagination position */
.swiper-pagination {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  z-index: 5;
  margin-top: 10px;
  color:#000000
  
}

.header {
  color: var(--Black, #2F252F);
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.small-header {
  color: var(--Black, #2F252F);
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150.57%; /* 24.091px */
}
/* Adjust color for pagination bullets */
.swiper-pagination-bullet-active {
  background: #FFD25A;
}

