.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; // This ensures that the container takes the full height of the viewport
  position: relative;
  overflow: hidden;
  background: linear-gradient(180deg, #FFD25A 0%, #ED6544 100%); // Gradient background
}
.logo {
  max-width: 150px; // Adjust according to the size of your logo
  margin-top: 20px; // Space above the logo
}
.loading-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #FFCC66;
  position: absolute;
  top: 65%;  /* adjusted for visual alignment with the text below */
  left: 50%;
  animation: circleMovement 0.5s infinite alternate, circleSize 0.5s infinite alternate;  /* animation time halved */
  -webkit-animation: circleMovement 0.5s infinite alternate, circleSize 0.5s infinite alternate;
  transform: translate(-50%, -50%) translate3d(0,0,0);
  -webkit-transform: translate(-50%, -50%) translate3d(0,0,0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden
}
  
.loading-text {
  margin-top: 40px;  /* Increase space from the circle for better visibility */
  margin-left: 10px;
  font-size: 18px;
  color: #ffffff;
  position: relative;
  z-index: 1;
}

@keyframes circleMovement {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes circleSize {
  0% {
    width: 60px;
    height: 60px;
  }
  100% {
    width: 90px;
    height: 90px;
  }
}
  