<div class="loading-container">
  <img src="assets/images/hiccup_home.jpg" alt="Hiccup Logo" class="logo"/>
  <div class="loading-text">Hold Your Breath!</div>
  <div class="loading-circle"></div>
</div>