<!-- src/app/pages/home/home.page.html -->

<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon class="icon-inactive" name="home-outline"></ion-icon>
      <ion-icon class="icon-active" name="home-sharp"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon class="icon-inactive" name="search-outline"></ion-icon>
      <ion-icon class="icon-active" name="search"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon class="icon-inactive" name="heart-outline"></ion-icon>
      <ion-icon class="icon-active" name="heart"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>