
.swiper-container {
    width: 100%;
    height: 100%;
  }

.swiper-pagination {
position: absolute;
bottom: 10px;
left: 0;
width: 100%;
text-align: center;
z-index: 10;
}

.swiper-pagination-bullet {
width: 8px;
height: 8px;
display: inline-block;
border-radius: 50%;
background-color: #fc0000;
opacity: 0.5;
margin: 0 5px;
}

.swiper-pagination-bullet-active {
opacity: 1;
}