<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <ion-card>
        <ion-card-header>
          <h2>Welcome to Hiccup!</h2>
        </ion-card-header>
        <ion-card-content>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </ion-card-content>
      </ion-card>
    </div>
    <div class="swiper-slide">
      <ion-card>
        <ion-card-header>
          <h2>Get Closer to Your Loved Ones!</h2>
        </ion-card-header>
        <ion-card-content>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </ion-card-content>
      </ion-card>
    </div>
    <div class="swiper-slide">
      <ion-card>
        <ion-card-header>
          <h2>They Are Thinking of You</h2>
        </ion-card-header>
        <ion-card-content>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </ion-card-content>
      </ion-card>
    </div>
    <!-- Add more slides as needed -->
  </div>
  <div class="swiper-pagination"></div>
</div>