/* Add these styles to make the ion-content cover the full viewport */
.fullscreen-content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Add styles to make sure ion-content fills the viewport on iOS devices */
ion-content.fullscreen-content {
  --ion-safe-area-top: 0;
  --ion-safe-area-bottom: 0;
}
ion-content {
  --background: linear-gradient(180deg, #FFD25A 0%, #ED6544 100%);
  background: var(--background, linear-gradient(180deg, #FFD25A 0%, #ED6544 100%));
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


/* This is the container for your text and possibly other content */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Full width */
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // Ensure the container fits the content
  padding: 20px;
  box-sizing: border-box;
}
:root {
  --corner-radius-radius-0: 0px; // Adjust as needed
  --Brand-gradient: linear-gradient(180deg, #FFD25A 0%, #ED6544 100%); // Your brand's gradient
}

.logo {
  max-width: 100px; // Adjust the size as needed
  margin-bottom: 20px; // Space between the logo and the text
}

h1 {
  margin: 0;
  font-size: 2em; // Adjust the size as needed
}

p {
  margin: 0;
  font-size: 1.5em; // Adjust the size as needed
}