<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Welcome to Hicuup
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Welcome Message
    </ion-card-header>
    <ion-card-content>
      This is the welcome page for Hicuup app.
    </ion-card-content>
  </ion-card>
</ion-content> -->
<ion-content>
  <div class="main-container">
    <app-loading-splash *ngIf="isLoading"></app-loading-splash>
  </div>
</ion-content>
<ion-content *ngIf="isLoading===false" padding="true" class="fullscreen-content">
  <app-slides></app-slides>
  <!-- <app-card-swiper></app-card-swiper> -->

</ion-content>
